<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('img/greetingmessage.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Kiosk for picking time slot for G and G2 drive test</h1>
                            <span class="subheading">Driver Interface</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container">
            <div class="my-5">
                <h2>G2 License Form</h2>
                <br>
                <form action="/g2form" method="POST" enctype="multipart/form-data">
                    <% if(errors != null && errors.length >0) { %>
                        <ul class="list-group"></ul>
                        <% for (var i=0; i<errors.length; i++) { %>
                            <li class="list-group-item list-group-item-danger">
                                <%= errors[i] %></li>
                            <% } %>
                            </ul>
                    <% } %>
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input type="text" class="form-control" id="FirstName" placeholder="Enter First Name" name="FirstName" value="<%= FirstName %>">
                </div>
                <br>
                <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input type="text" class="form-control" id="LastName" placeholder="Enter Last Name" name="LastName" value="<%= LastName %>">
                </div>
                <br>
                <div class="form-group">
                    <label for="UserId">User Id</label>
                    <input type="text" class="form-control" id="UserId" placeholder="Enter User Id" name="UserId" readonly>
                </div>
                <br>
                <div class="form-group">
                    <label for="DOB">Date of Birth</label>
                    <input type="date" class="form-control" id="DOB" placeholder="Enter DOB" name="DOB" value="<%= DOB %>">
                </div>
                <br>
                <div class="form-group">
                    <label for="HouseNo">House No</label>
                    <input type="text" class="form-control" id="HouseNo" name="HouseNo" placeholder="Enter House Number">
                </div>
                <br>
                <div class="form-group">
                    <label for="StreetName">Street Name</label>
                    <input type="text" class="form-control" id="StreetName" name="StreetName" placeholder="Enter Street Name">
                </div>
                <br>
                <div class="form-group">
                    <label for="City">City</label>
                    <input type="text" class="form-control" id="City" name="City" placeholder="Enter city">
                </div>
                <br>
                <div class="form-group">
                    <label for="Province">Province</label>
                    <input type="text" class="form-control" id="Province" name="Province" placeholder="Enter province">
                </div>
                <br>
                <div class="form-group">
                    <label for="PostalCode">Postal Code</label>
                    <input type="text" class="form-control" id="PostalCode" name="PostalCode" placeholder="Enter postal code">
                </div>
                <br>
                <div class="form-group">
                    <label for="Make">Make</label>
                    <input type="text" class="form-control" id="Make" name="Make" placeholder="Enter make">
                </div>
                <br>
                <div class="form-group">
                    <label for="Model">Model</label>
                    <input type="text" class="form-control" id="Model" name="Model" placeholder="Enter model">
                </div>
                <br>
                <div class="form-group">
                    <label for="Year">Year</label>
                    <input type="Number" class="form-control" id="Year" name="Year" placeholder="Enter year">
                </div>
                <br>
                <div class="form-group">
                    <label for="PlatNumber">Plat Number</label>
                    <input type="text" class="form-control" id="PlatNumber" name="PlatNumber" placeholder="Enter plat number">
                </div>
                <br>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="image">Image</label>
                        <input type="file" class="form-control" id="image" name="image" >
                    </div>
                </div>
                <br>
                <!--
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="image2">Image</label>
                        <input type="file" class="form-control" id="image2" name="image2" >
                    </div>
                </div>
                <br>
                -->
                <div class="form-group">
                    <label for="inputLicenseNumber">License Number</label>
                    <input type="text" class="form-control" id="inputLicenseNumber" name="inputLicenseNumber" minlength="8" maxlength="8" placeholder="Enter License Number" value="<%= inputLicenseNumber %>">
                </div>
                <br>
                <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
            </div>
        </div>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
